name: deploy-book

on:
  push:
    branches: ["main"]  # Change to 'master' if your default branch is named 'master'

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt  # Ensure you have a requirements.txt file

      - name: Build the book
        run: jupyter-book build .

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: _build/html

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4